// Place all the styles related to the shorties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

.field_with_errors {
  input{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  label {
    color: #a94442;
  }
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
.chart{
  height: 300px;
}
